BOT_TOKEN=

DB_HOST=localhost
DB_PORT=3306
DB_NAME=business_cash_bot
DB_USER=
DB_PASSWORD=

OWNER_TELEGRAM_ID=
TELEGRAM_API_ROOT=
TELEGRAM_PROXY_URL=

TELEGRAM_WEBHOOK_ENABLED=false
TELEGRAM_WEBHOOK_DOMAIN=
TELEGRAM_WEBHOOK_PATH=/businesscash-webhook
TELEGRAM_WEBHOOK_PORT=3000
TELEGRAM_WEBHOOK_SECRET=

APP_TIMEZONE=Europe/Moscow

